html {
   height: -webkit-fill-available;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   height: 100vh;
   height: -webkit-fill-available;
   color: rgb(169, 169, 169);
}

main {
   flex: 1;
   overflow: scroll;
}

.head-div {
   display: flex;
   text-align: center;
   justify-content: center;
   box-shadow: 2px 2px 8px rgb(165, 165, 165, 0.7);
   padding-top: 4px;
   padding-bottom: 4px;
}

.head-txt {
   font-size: 24px;
   color: rgb(122, 122, 122);
}

.order-div {
   display: flex;
   margin-bottom: 5px;
}

.img-main-div {
   display: inline-block;
   position: absolute;
   right: 0px;
}

.main-txt {
   display: inline-block;
}

.img-main {
   height: 155px;
}

.orderid-div {
   margin-top: 5px;
   margin-bottom: 5px;
   border-bottom: solid;
   border-width: 1px;
   border-color: rgb(165, 165, 165, 0.4);
   font-size: 14px;
}

.orderid-txt {
   margin-left: 8px;
   color: rgba(224, 156, 139, 0.9);
}

.ordername-txt,
.description-txt,
.seller-txt,
.ini-price-txt,
.total-txt {
   margin-left: 12px;
}

.order-div {
   flex: 1;
   margin-top: 8px;
}

.ordername-txt {
   font-size: 24px;
   color: rgb(71, 71, 71);
}

.description-txt {
   font-size: 12px;
}

.seller-div {
   margin-top: 8px;
}

.seller-txt {
   font-size: 14px;
}

.ini-price-div {
   margin-top: 8px;
   color: rgb(85, 168, 245);
   font-size: 18px;
   font-weight: bold;
}

.spacer {
   background-color: rgba(199, 199, 199, 0.5);
   height: 6px;
}

.sub-head-div {
   margin-top: 5px;
   padding-bottom: 5px;
   border-bottom: solid;
   border-width: 1px;
   border-color: rgb(165, 165, 165, 0.4);
   font-size: 18px;
}

.sub-head-txt {
   margin-left: 10px;
}

.updates-div-1 {
   display: flex;
   flex-direction: row;
   align-items: baseline;
   margin-top: 8px;
   margin-bottom: 8px;
   color: rgb(71, 71, 71);
}

.updates-txt {
   font-size: 16px;
}

.tick-updates {
   width: 20px;
   margin-right: 10px;
   margin-top: 2px;
}

.updates-div-1,
.ship-detail-txt {
   margin-left: 12px;
}

.ship-detail-txt {
   margin-top: 12px;
   margin-bottom: 12px;
}

.ship-txt,
.pname {
   color: rgb(71, 71, 71);
   margin: 0;
}

.pname {
   margin-top: 5px;
   font-size: 18px;
   margin-bottom: 5px;
}

.ship-txt {
   margin-bottom: 5px;
   font-size: 12px;
}

.price-lists-cont {
   margin-top: 12px;
   margin-bottom: 12px;
}

.price-lists-div {
   color: rgb(71, 71, 71);
   margin-left: 24px;
   font-size: 14px;
}

.price,
.list {
   display: inline-block;
   margin-top: 2px;
}

.price {
   position: absolute;
   right: 0px;
   margin-right: 12px;
}

.total {
   margin-top: 5px;
   margin-bottom: 5px;
   border-top: solid;
   border-bottom: solid;
   border-width: 1px;
   border-color: rgb(165, 165, 165, 0.4);
   color: #55a8f5;
}

.total-txt,
.total-price {
   font-size: 20px;
   display: inline-block;
}
.total-price {
   position: absolute;
   right: 20px;
}

.confirm-div {
   display: flex;
   justify-content: space-around;
}

.confirm {
   background: white;
   border-bottom: solid;
   border-width: 1px;
   border-color: rgb(165, 165, 165, 0.4);
   box-shadow: 2px 2px 8px rgb(165, 165, 165, 0.4);
   border-radius: 5px;
   width: 180px;
   height: 40px;
   margin-top: 5px;
   margin-bottom: 5px;
}

.confirm:active {
   opacity: 0.75;
   filter: alpha(opacity=75);
}

.tick-div {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.tick {
   height: 20px;
}
